h1{
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: auto;
  height: auto;
  position: static;
  cursor: default;
  opacity: 1;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: none;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  font: normal 25px/3 Verdana, Geneva, sans-serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 6px;
  background: #ff7700;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}
.bu {
	box-shadow: 12px 13px 0px 0px #d65f37;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:8px;
	border:3px solid #f76b00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:5px 5px 0px #854629;
}
.bu:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.bu:active {
	position:relative;
	top:1px;
}
body{
  background-color: #ffb800;
  color:#a45e00;
 )
